body{
    margin: 0%;
    padding: 0%;
    text-align: left
}
h1{
    font-size: 80px;
    color: aliceblue;
    position: absolute;
    top:5%;
    left:10%;
}

.hero{
    background-image: url('./tesla-site-img/about.webp');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 400px;
    margin-top: -13%;

}

.about-info{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}